@font-face {
    font-family: "SFFontRegular";
    src: url('assets/fonts/SFNSText-Regular.otf');
}

@font-face {
    font-family: "SFFontThin";
    src: url('assets/fonts/SFNSDisplay-Thin.otf');
}

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
  }

html, body {
    height: 100%;
  }

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

input, button, textarea, select {
    font: inherit;
  }

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

#root, #__next {
    isolation: isolate;
  }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    font-family: 'SFFontRegular','Courier New', Courier, monospace;
}

#Calculator{
    width: 500px;
    height: 1057px;
    background-color: black;
    border-radius: 70px;
}

#NotificationBar {
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

#Screen{
    /* background-color: rgb(138, 138, 138);
    color: black; */
    width: 100%;
    height: 300px;
    padding: 10px 48px;

    display: flex;
    justify-content: end;
    align-items: end;
    
    font-family: 'SFFontThin','Courier New', Courier, monospace;
    font-size: 90px;
}

#FirstRow {
    display: flex;
    justify-content: space-around;
    
    padding: 0px 15px;

    font-size: 35px;
}

.Grey {
    background-color: #a0a0a0;
    color: black;
    
    width: 95px;
    height: 95px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 50;

}

.DarkGrey {
    background-color: #313131;
    width: 95px;
    height: 95px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Orange {
    background-color: #f69906;
    
    width: 95px;
    height: 95px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

